#  CI pipeline: uruchamia testy i publikuje raport Allure.
#  Raport: https://aleksandraszczesna.github.io/answear_automation_tests/
name: Run Automation tests

on:
  schedule:
    - cron: '0 9 * * *'  # Codziennie o 9:00 UTC (czyli 11:00 w Polsce latem)
  push:                  # Workflow uruchamiany na ka偶de wypchnicie zmian do repozytorium
  pull_request:          # Workflow uruchamiany na ka偶de otwarcie lub aktualizacj Pull Requesta
  workflow_dispatch:     # Workflow mo偶na uruchomi rcznie z interfejsu GitHub GUI
    inputs:
      marker:
        description: 'Choose pytest marker to run'
        required: true
        default: regression  #Domylny marker
        type: choice
        options: # Markery, kt贸re mo偶emy wybrac
          - regression
          - api
          - smoke

jobs:
  test:
    runs-on: ubuntu-latest  # Okrelamy, 偶e workflow bdzie uruchomiony na maszynie z systemem Ubuntu

    steps:
      # Domylny marker w przypadku 'schedule' i 'push' (regression)
      - name: Set default marker for schedule or push
        run: |
          if [[ -z "${{ github.event.inputs.marker }}" ]]; then
            echo "No marker input provided. Using default: regression"
            echo "marker=regression" >> $GITHUB_ENV
          else
            echo "Using input marker: ${{ github.event.inputs.marker }}"
            echo "marker=${{ github.event.inputs.marker }}" >> $GITHUB_ENV
          fi

      # Sprawdzenie wersji Chrome, aby upewni si, 偶e jest zainstalowany
      - name: Check Chrome version
        run: google-chrome --version

      # Sprawdzenie wersji chromedriver, 偶eby mie pewno, 偶e jest kompatybilny z wersj Chrome
      - name: Check chromedriver version
        run: chromedriver --version

      # Checkout repozytorium, pobranie najnowszej wersji kodu z repozytorium
      - name: Checkout repo
        uses: actions/checkout@v3

      # Ustawienie Pythona: instalacja odpowiedniej wersji Pythona (tutaj 3.11)
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.13

      # Instalowanie zale偶noci: aktualizacja pip oraz instalacja zale偶noci z pliku requirements.txt
      # Zainstalowanie Playwright (biblioteka do test贸w E2E)
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip  # Aktualizacja pip
          pip install -r requirements.txt    # Instalacja zale偶noci
          playwright install                  # Instalacja Playwright i przegldarek

      # Modyfikacja pliku konfiguracyjnego 'config.yaml', aby uruchomi testy w trybie headless (bez GUI)
      - name: Run tests headless
        run: |
          sed -i 's/headless: false/headless: true/' projekt_zaliczeniowy/configuration/config.yaml  # Zmiana na headless

      # Pokazanie zmodyfikowanego pliku 'config.yaml', 偶eby sprawdzi, czy zmiana zostaa zastosowana poprawnie
      - name: Poka偶 zmodyfikowany config.yaml
        run: |
          cat projekt_zaliczeniowy/configuration/config.yaml  # Wywietlenie zawartoci pliku konfiguracyjnego

      # Uruchomienie test贸w z Allure, zapis wynik贸w do katalogu 'allure-results'
      - name: Run tests with Allure
        working-directory: projekt_zaliczeniowy/tests/  # Okrelamy katalog roboczy z testami
        run: pytest -m ${{ env.marker }} --alluredir=allure-results  # Uruchomienie pytest i zapisanie wynik贸w do katalogu allure-results

      # Zaadowanie wynik贸w test贸w z folderu allure-results
      - name: Load test report history
        uses: actions/checkout@v3
        if: always()
        continue-on-error: true
        with:
          ref: gh-pages
          path: gh-pages

      # Generowanie raportu Allure z wynik贸w test贸w i publikowanie raportu
      - name: Build test report
        uses: simple-elf/allure-report-action@v1.7
        if: always()
        with:
          gh_pages: gh-pages
          allure_history: allure-history
          allure_results: projekt_zaliczeniowy/tests/allure-results  # Folder z wynikami test贸w

      # Wysanie wygenerowanego raportu jako artefakt, kt贸ry bdzie dostpny po zakoczeniu workflow
      - name: Upload Allure report
        uses: actions/upload-artifact@v4  # Akcja do uploadu artefakt贸w
        if: always()
        with:
          name: allure-report  # Nazwa artefaktu
          path: allure-history  # cie偶ka do folderu z raportem Allure

      # Publikacja raportu na GitHub Pages
      - name: Publish report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # Autoryzacja z tokenem GitHub
          publish_branch: gh-pages  # Ga藕, na kt贸rej bdzie opublikowany raport
          publish_dir: allure-history  # Katalog, kt贸ry zostanie opublikowany na GitHub Pages

      # Link do najnowszego raportu
      - name: Print link to Allure report
        if: always()
        run: |
          echo " Allure report:"
          echo "https://aleksandraszczesna.github.io/answear_automation_tests/"